* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background: rgb(177, 58, 180);
    background: linear-gradient(86deg, rgba(177, 58, 180, 1) 0%, rgba(0, 108, 255, 1) 100%);
}

.container {
    text-align: center;
    width: 500px;
    margin: 60px auto;
    background: white;
    border-radius: 5px;
}

h1 {
    margin: 30px;
    padding-top: 30px;
}

h2,
.facebook,
.orUse {
    margin: 0 0 30px 0;
}

.google,
p {
    margin: 0 0 15px 0;
    border: none;
}

.google {
    width: 50%;
    height: 35px;
    border-radius: 20px;
    color: white;
    background: rgb(177, 58, 180);
    background: linear-gradient(86deg, rgba(177, 58, 180, 1) 0%, rgba(0, 108, 255, 1) 100%);
}

.facebook {
    width: 50%;
    height: 35px;
    border-radius: 20px;
    border: none;
    color: white;
    background: rgb(177, 58, 180);
    background: linear-gradient(86deg, rgba(177, 58, 180, 1) 0%, rgba(0, 108, 255, 1) 100%);
}

.orUse {
    margin: 40px;
}

.mailto {
    margin-bottom: 10px;
    width: 50%;
    height: 35px;
    text-align: center;
    background-color: rgb(245, 243, 243);
    border: none;
    border-radius: 20px;
    transition: 400ms;
}

.mailto:hover {
    background: rgb(216, 216, 216);
}

.senha {
    margin: 0 0 30px 0;
    width: 50%;
    height: 35px;
    text-align: center;
    background-color: rgb(245, 243, 243);
    border: none;
    border-radius: 20px;
    transition: 400ms;
}

.senha:hover {
    background: rgb(216, 216, 216);
}

.botao {
    margin-bottom: 20px;
    width: 50%;
    height: 35px;
    border-radius: 20px;
    border: none;
    color: white;
    background: rgb(177, 58, 180);
    background: linear-gradient(86deg, rgba(177, 58, 180, 1) 0%, rgba(0, 108, 255, 1) 100%);
}

footer {
    margin-bottom: 15px;
    padding-bottom: 15px;
}

a {
    text-decoration: none;
    color: white;
}

footer a {
    color: black;
}